body{
	background-color:rgba(53, 165, 163, 0.62);
}
#all{
	text-align:center;
	position:absolute;
	top:20px;
	left: 500px;
}
.btn{
	width:70px;
	height:70px;
	font-size:24px;
}
.btn1{
	width:75px;
	height:70px;
	font-size:24px;
	color:#F00;
}